html {
  background-color: rgb(192, 241, 225);
}

h1 {
  text-align: center;
  margin: 60px 0px;
}

body {
  /* justify-content: center; */
  /* align-items: center;  */
  /* display: flex; */
}

#container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

table {
  width: 500px;
  height: 400px;
}

.cell {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
}

/* .cell:hover {
  background-color: rgb(56, 108, 91);
  transition-duration: 50ms;
}

.cell:hover::after {
  background-color: rgb(56, 108, 91);
} */

.fill {
  background-color: rgb(56, 108, 91);
}

.reset {
  display: block;
  font-size: 15px;
  background-color: aliceblue;
  border-style: solid;
  border-radius: 7px;
  width: 100px;
  height: 50px;
  margin: 0 auto;
}
