html {
  background-color: rgb(192, 241, 225);
}

h1 {
  text-align: center;
  margin: 60px 0px;
}

#container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

table {
  width: 500px;
  height: 400px;
}

.active {
  background-color: var(--main-paint-color);
}

.cell {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
}

.cells:hover {
  background-color: var(--main-paint-color);
  /* transition-duration: 50ms; */
}

.fill {
  background-color: var(--main-paint-color);
}

.reset {
  display: block;
  font-size: 15px;
  background-color: aliceblue;
  border-style: solid;
  border-radius: 7px;
  width: 100px;
  height: 50px;
  margin: 0 auto;
}

:root {
  --main-paint-color: rgb(56, 108, 91);
}
